#### Set up Dependencies and import any keys needed

In [1]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
import gmaps 
import us

from census import Census
# Import API key
from api_keys import g_key
from api_keys import weather_api_key
from api_keys import gas_api_key
from api_keys import eia_key
from api_keys import census_api_key
from api_keys import nps_key

#from config import census_api
#c = Census(census_api)
c = Census(census_api_key)
print (eia_key)

95abebd4884337a93dda412e59cda738

##### set up West States

In [2]:
park = 'acad'
url = f'https://developer.nps.gov/api/v1/parks?parkCode={park}&api_key=parks_key'
print(url)

https://developer.nps.gov/api/v1/parks?parkCode=acad&api_key=parks_key

In [3]:

West = ['Colorado', 'Wyoming', 'Montana', 'Idaho', 'Washington', 'Oregon', 'Utah', 'Nevada', 'California', 'Alaska', 'Hawaii']

##### Make a call to census data to pull info for all states, put into df, rename columns
##### May not need but put it in a csv just in case

In [4]:

census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})



#Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})


#census_pd.head()
census_pd.to_csv("./output_data/census_data_allstates.csv", encoding="utf-8", index=False)
census_pd.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,State
0,Puerto Rico,19775.0,3468963.0,40.1,12081.0,1543220.0,220597.0,72
1,Alabama,46472.0,4850771.0,38.7,25746.0,849699.0,165391.0,01
2,Alaska,76114.0,738565.0,33.9,35065.0,73380.0,29548.0,02
3,Arizona,53510.0,6809946.0,37.2,27964.0,1128046.0,225911.0,04
4,Arkansas,43813.0,2977944.0,37.9,24426.0,524211.0,85128.0,05

##### This file was provided to us in a separate activity
##### Gives centroids of each state

In [5]:
# Read in the csv containing state centroid coordinates
centroids = pd.read_csv("./Resources/state_centroids.csv")
centroids.head()

        State  Latitude  Longitude
0     Alabama   32.7794   -86.8287
1      Alaska   64.0685  -152.2782
2     Arizona   34.2744  -111.6602
3    Arkansas   34.8938   -92.4426
4  California   37.1841  -119.4696

In [6]:
# create a dictionary of states and abbreviations
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

##### Merge the centroids and census data to get a lat/lon for each state

In [7]:
# Merge the datasets using the sate columns
census_data = pd.merge(census_pd, centroids, how="left", left_on="Name", right_on="State")

# Save the updated dataframe as a csv
census_data.to_csv("./Resources/state_census_data.csv", encoding="utf-8", index=False)

#df['State'] = df['State'].map(us_state_abbrev).fillna(df['State'])

census_data['State_y'] = census_data['State_y'].map(us_state_abbrev).fillna(census_data['State_y'])
census_data.rename(columns={'State_y':'State Code'})
census_data.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,State_x,State_y,Latitude,Longitude
0,Puerto Rico,19775.0,3468963.0,40.1,12081.0,1543220.0,220597.0,72,Puerto Rico,18.2001,-66.6645
1,Alabama,46472.0,4850771.0,38.7,25746.0,849699.0,165391.0,01,AL,32.7794,-86.8287
2,Alaska,76114.0,738565.0,33.9,35065.0,73380.0,29548.0,02,AK,64.0685,-152.2782
3,Arizona,53510.0,6809946.0,37.2,27964.0,1128046.0,225911.0,04,AZ,34.2744,-111.6602
4,Arkansas,43813.0,2977944.0,37.9,24426.0,524211.0,85128.0,05,AR,34.8938,-92.4426

##### Grab population data and map it

In [8]:
# Convert pop to a list
population = census_data["Population"].tolist()

In [9]:
# Create a map using state centroid coordinates to set markers
marker_locations = census_data[['Latitude', 'Longitude']]

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Population: {pop}" for pop in population])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

##### Pull out State Population Lat Lon

In [10]:
# Create a datframe with just the data we  want for the population quesion
pop_df = census_data[['Name', 'Population', 'Latitude', 'Longitude']].copy()

pop_df['State Code'] = pop_df['Name'].map(us_state_abbrev).fillna(pop_df['Name'])
pop_df

,Name,Population,Latitude,Longitude,State Code
0,Puerto Rico,3468963.0,18.2001,-66.6645,Puerto Rico
1,Alabama,4850771.0,32.7794,-86.8287,AL
2,Alaska,738565.0,64.0685,-152.2782,AK
3,Arizona,6809946.0,34.2744,-111.6602,AZ
4,Arkansas,2977944.0,34.8938,-92.4426,AR
5,California,38982847.0,37.1841,-119.4696,CA
6,Colorado,5436519.0,38.9972,-105.5478,CO
7,Connecticut,3594478.0,41.6219,-72.7273,CT
8,District of Columbia,672391.0,38.9101,-77.0147,District of Columbia
9,Delaware,943732.0,38.9896,-75.5050,DE
10,Florida,20278447.0,28.6305,-82.4497,FL
11,Georgia,10201635.0,32.6415,-83.4426,GA
12,Hawaii,1421658.0,20.2927,-156.3737,HI
13,Idaho,1657375.0,44.3509,-114.6130,ID
14,Illinois,12854526.0,40.0417,-89.1965,IL
15,Indiana,6614418.0,39.8942,-86.2816,IN
16,Iowa,3118102.0,42.0751,-93.4960,IA
17,Kansas,2903820.0,38.4937,-98.3804,KS
18,Kentucky,4424376.0,37.5347,-85.3021,KY
19,Maine,1330158.0,45.3695,-69.2428,ME
20,Louisiana,4663461.0,31.0689,-91.9968,LA
21,Massachusetts,6789319.0,42.2596,-71.8083,MA
22,Maryland,5996079.0,39.0550,-76.7909,MD
23,Michigan,9925568.0,44.3467,-85.4102,MI
24,Minnesota,5490726.0,46.2807,-94.3053,MN
25,Mississippi,2986220.0,32.7364,-89.6678,MS
26,Missouri,6075300.0,38.3566,-92.4580,MO
27,Montana,1029862.0,47.0527,-109.6333,MT
28,Nebraska,1893921.0,41.5378,-99.7951,NE
29,New Hampshire,1331848.0,43.6805,-71.5811,NH
30,Nevada,2887725.0,39.3289,-116.6312,NV
31,New Jersey,8960161.0,40.1907,-74.6728,NJ
32,New Mexico,2084828.0,34.4071,-106.1126,NM
33,New York,19798228.0,42.9538,-75.5268,NY
34,North Carolina,10052564.0,35.5557,-79.3877,NC
35,North Dakota,745475.0,47.4501,-100.4659,ND
36,Ohio,11609756.0,40.2862,-82.7937,OH
37,Oklahoma,3896251.0,35.5889,-97.4943,OK
38,Oregon,4025127.0,43.9336,-120.5583,OR
39,Pennsylvania,12790505.0,40.8781,-77.7996,PA
40,Rhode Island,1056138.0,41.6762,-71.5562,RI
41,South Carolina,4893444.0,33.9169,-80.8964,SC
42,South Dakota,855444.0,44.4443,-100.2263,SD
43,Tennessee,6597381.0,35.8580,-86.3505,TN
44,Texas,27419612.0,31.4757,-99.3312,TX
45,Utah,2993941.0,39.3055,-111.6703,UT
46,Vermont,624636.0,44.0687,-72.6658,VT
47,Virginia,8365952.0,37.5215,-78.8537,VA
48,West Virginia,1836843.0,38.6409,-80.6227,WV
49,Washington,7169967.0,47.3826,-120.4472,WA
50,Wyoming,583200.0,42.9957,-107.5512,WY
51,Wisconsin,5763217.0,44.6243,-89.9941,WI

### Parks Data

##### Example request for one park

In [11]:
# # Find the parks in each state
# park = "DENA"
# parks_key =""  #NOTE NEED A KEY
# url = f"https://developer.nps.gov/api/v1/parks?parkCode={park}&api_key=parks_key"

# #https://irmaservices.nps.gov/v2/rest/unit/

# data = requests.get(url).json()

# # Prepare and execute output
# print(data["data"][0]["fullName"] + " can be found at " + data["data"][0]["latLong"] + ".")

In [12]:
URL = 'https://irmaservices.nps.gov/v2/rest/unit/?unitCodes={*}&format=json'
response = requests.get(URL).json()

#print(response)

len(response)
# months = ['January', 'February', 'March', 'April', 'May', 'June', 'July' 'August', 'September', 'October', 'November', 'December'] 
# for month in range(0,len(response)-1):
#     print(f"{unitcode} National Park had {response[month]['RecreationVisitors']} visitors" +
#           f" in the month of {months[month]} in 2019")


# set up dataframe column names
column_names = ['FullName',
                'UnitCode',
                'UnitName',
                'StateCode']
    
#print(response)
national_parks = []
for park in response:
    if(park['UnitDesignationName'] == 'National Park'):
#         print(f" {park['UnitDesignationName']}:{park['UnitCode']}: {park['FullName']} -" +
#               f" region {park['Region']},{park['StateCodes']} ")
        national_parks.append([park['FullName'], 
                          park['UnitCode'], 
                          park['UnitName'],
                          park['StateCodes']])
#park.keys()
#dict_keys(['UnitCode', 'UnitName', 'FullName', 
# 'UnitDesignationCode', 'UnitDesignationName', 'UnitSubTypeCode', 
#'UnitSubTypeName', 'UnitLifecycle', 'Network', 'NetworkName', 'Region', 'RegionName', 'StateCodes'])
national_parks
np_df = pd.DataFrame(national_parks, columns=column_names)
np_df

,FullName,UnitCode,UnitName,StateCode
0,Acadia National Park,ACAD,Acadia,[ME]
1,Arches National Park,ARCH,Arches,[UT]
2,Badlands National Park,BADL,Badlands,[SD]
3,Big Bend National Park,BIBE,Big Bend,[TX]
4,Biscayne National Park,BISC,Biscayne,[FL]
...,...,...,...,...
58,Wind Cave National Park,WICA,Wind Cave,[SD]
59,Wrangell-St. Elias National Park,WRSG,Wrangell-St. Elias,[AK]
60,Yellowstone National Park,YELL,Yellowstone,"[ID, MT, WY]"
61,Yosemite National Park,YOSE,Yosemite,[CA]
62,Zion National Park,ZION,Zion,[UT]

### Make a row for eash state in the list 
* census_data = pd.merge(census_pd, centroids, how="left", left_on="Name", right_on="State")

In [13]:
lst_col = 'StateCode'

r = pd.DataFrame({
      col:np.repeat(np_df[col].values, np_df[lst_col].str.len())
      for col in np_df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(np_df[lst_col].values)})[np_df.columns]
r

                     FullName UnitCode     UnitName StateCode
0        Acadia National Park     ACAD       Acadia        ME
1        Arches National Park     ARCH       Arches        UT
2      Badlands National Park     BADL     Badlands        SD
3      Big Bend National Park     BIBE     Big Bend        TX
4      Biscayne National Park     BISC     Biscayne        FL
..                        ...      ...          ...       ...
63  Yellowstone National Park     YELL  Yellowstone        ID
64  Yellowstone National Park     YELL  Yellowstone        MT
65  Yellowstone National Park     YELL  Yellowstone        WY
66     Yosemite National Park     YOSE     Yosemite        CA
67         Zion National Park     ZION         Zion        UT

[68 rows x 4 columns]

##### Map state abbreviation state name and merge - still figuring this one out

In [14]:
pop_df.head(3)
        
pop_by_park = pd.merge(pop_df,r, how="outer", left_on="State Code", right_on="StateCode")
pop_by_park

,Name,Population,Latitude,Longitude,State Code,FullName,UnitCode,UnitName,StateCode
0,Puerto Rico,3468963.0,18.2001,-66.6645,Puerto Rico,NaN,NaN,NaN,NaN
1,Alabama,4850771.0,32.7794,-86.8287,AL,NaN,NaN,NaN,NaN
2,Alaska,738565.0,64.0685,-152.2782,AK,Denali National Park,DENG,Denali,AK
3,Alaska,738565.0,64.0685,-152.2782,AK,Gates of the Arctic National Park,GAAG,Gates of the Arctic,AK
4,Alaska,738565.0,64.0685,-152.2782,AK,Glacier Bay National Park,GLBG,Glacier Bay,AK
...,...,...,...,...,...,...,...,...,...
85,Wyoming,583200.0,42.9957,-107.5512,WY,Grand Teton National Park,GRTE,Grand Teton,WY
86,Wyoming,583200.0,42.9957,-107.5512,WY,Yellowstone National Park,YELL,Yellowstone,WY
87,Wisconsin,5763217.0,44.6243,-89.9941,WI,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,National Park of American Samoa,NPSA,National Park of American Samoa,AS
89,NaN,NaN,NaN,NaN,NaN,Virgin Islands National Park,VIIS,Virgin Islands,VI

In [15]:
# Save the updated dataframe as a csv
np_df.to_csv("./Resources/state_park_data.csv", encoding="utf-8", index=False)
#np_df.head()

In [16]:
#notes some are empty
unitcode = "COSW" #Rocky Mountain National Park (unitcode)
URL = f'https://irmaservices.nps.gov/v3/rest/stats/visitation?unitCodes={unitcode}&startMonth=01&startYear=2019&endMonth=12&endYear=2019&format=json'
print(URL)

https://irmaservices.nps.gov/v3/rest/stats/visitation?unitCodes=COSW&startMonth=01&startYear=2019&endMonth=12&endYear=2019&format=json

#### PRINT the LAT/LON of each park

In [42]:
def convert_lat_lon(latlon):
    latlon = (data["data"][0]["latLong"])

    lat,lon = latlon.split(", ")

    l, lat=lat.split(':')
    l, lon=lon.split(':')

    lat = float(lat)
    lon = float(lon)
    return([lat, lon])

In [43]:
### Testing convert_lat_lon function
# ll = convert_lat_lon('lat:37.29839254, long:-113.0265138')
# print(ll[0])
# print(ll[1])

37.29839254
-113.0265138

In [50]:
from api_keys import nps_key
parks_key = nps_key #NOTE NEED A KEY
latlon=[]
for park in np_df['UnitCode']:
    url = f"https://developer.nps.gov/api/v1/parks?parkCode={park}&api_key={nps_key}"
    try:
        data = requests.get(url).json()
        # Prepare and execute output
        # print(data["data"][0]["fullName"] + " can be found at " + data["data"][0]["latLong"] + ".")
        ll = convert_lat_lon(data["data"][0]["latLong"])
        latlon.append([data["data"][0]["fullName"], ll[0], ll[1]])
    except:
        print(f"Empty Cell...Skipping {park}")

park_lat_lon_df = pd.DataFrame(latlon, columns = ['Park', 'Lat', 'Lon'])
park_lat_lon_df

Empty Cell...Skipping COSW
Empty Cell...Skipping DENG
Empty Cell...Skipping GAAG
Empty Cell...Skipping GLBG
Empty Cell...Skipping GRDG
Empty Cell...Skipping KATG
Empty Cell...Skipping KICA
Empty Cell...Skipping LACG
Empty Cell...Skipping SEQU
Empty Cell...Skipping WRSG

                                          Park        Lat         Lon
0                         Acadia National Park  44.307775  -68.300633
1                         Arches National Park  38.722618 -109.586367
2                       Badlands National Park  43.685848 -102.482942
3                       Big Bend National Park  29.298178 -103.229790
4                       Biscayne National Park  25.490587  -80.210239
5   Black Canyon Of The Gunnison National Park  38.577799 -107.724276
6                   Bryce Canyon National Park  37.583991 -112.182669
7                    Canyonlands National Park  38.245558 -109.880162
8                   Capitol Reef National Park  38.282165 -111.247048
9               Carlsbad Caverns National Park  32.140895 -104.552969
10               Channel Islands National Park  33.986801 -119.911273
11                      Congaree National Park  33.791875  -80.748678
12                   Crater Lake National Park  42.940659 -122.133841
13               Cuyahoga Valley National Park  41.260939  -81.571167
14                  Death Valley National Park  36.487537 -117.134395
15                  Dry Tortugas National Park  24.628741  -82.873190
16                    Everglades National Park  25.372942  -80.882003
17                       Glacier National Park  48.684147 -113.800931
18                   Great Basin National Park  38.946174 -114.257978
19                  Grand Canyon National Park  36.172802 -112.683602
20         Great Smoky Mountains National Park  35.601164  -83.508183
21                   Grand Teton National Park  43.818536 -110.705467
22           Guadalupe Mountains National Park  31.923045 -104.885527
23                Haleakal&#257; National Park  20.706930 -156.159177
24             Hawai'i Volcanoes National Park  19.335504 -155.470026
25                   Hot Springs National Park  34.524144  -93.063329
26                 Indiana Dunes National Park  41.637655  -87.096474
27                   Isle Royale National Park  48.011458  -88.827807
28                  Gateway Arch National Park  38.625807  -90.189251
29                   Joshua Tree National Park  33.914185 -115.839812
30                  Kenai Fjords National Park  59.818044 -150.106502
31                  Kobuk Valley National Park  67.356313 -159.200229
32               Lassen Volcanic National Park  40.493546 -121.407599
33                  Mammoth Cave National Park  37.197605  -86.130902
34                    Mesa Verde National Park  37.239083 -108.462403
35                 Mount Rainier National Park  46.860754 -121.704388
36                North Cascades National Park  48.711718 -121.206942
37             National Park of American Samoa -14.228659 -169.850378
38                       Olympic National Park  47.803928 -123.666385
39              Petrified Forest National Park  34.983877 -109.787768
40                     Pinnacles National Park  36.490292 -121.181361
41            Redwood National and State Parks  41.372373 -124.031813
42                Rocky Mountain National Park  40.355692 -105.697288
43                       Saguaro National Park  32.209096 -110.757497
44                    Shenandoah National Park  38.492366  -78.469077
45            Theodore Roosevelt National Park  47.177773 -103.430008
46                Virgin Islands National Park  18.342797  -64.741945
47                     Voyageurs National Park  48.483706  -92.838291
48                   White Sands National Park  32.779079 -106.333346
49                     Wind Cave National Park  43.580124 -103.439471
50                   Yellowstone National Park  44.598244 -110.547169
51                      Yosemite National Park  37.848833 -119.557187
52                          Zion National Park  37.298393 -113.026514

### MAP the PARKs

In [52]:
# Create a map using state centroid coordinates to set markers
marker_locations = park_lat_lon_df[['Lat', 'Lon']]
# Create a marker_layer using the park list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Park: {park}" for park in park_lat_lon_df['Park']])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
for unitcode in np_df['UnitCode']:
    print(f"Unit Code = {unitcode}")

In [ ]:
column_names = ['UnitCode','Month', 'Visitors']
query_year = "2019"
park_visitor_data = []

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] 
# for month in range(0, 12):
#         print(f"{months[month]}")
len(months)
for unitcode in np_df['UnitCode']:
    #print(f"Processing Unit Code = {unitcode} for {query_year}...")   
    # construct the query
    URL = f'https://irmaservices.nps.gov/v3/rest/stats/visitation?unitCodes={unitcode}&startMonth=01&startYear={query_year}&endMonth=12&endYear={query_year}&format=json'

    response = requests.get(URL).json()

    for month in range(0,len(response)):
     #     print(f"{month}")
    #     print(f"{unitcode} National Park had {response[month]['RecreationVisitors']} visitors" +
    #           f" in the month of {months[month]} in 2019")
          park_visitor_data.append([unitcode, 
                          month,
                          response[month]['RecreationVisitors']])
          
# # print("Processing complete")    
visitor_df = pd.DataFrame(park_visitor_data, columns=column_names)
visitor_df

In [ ]:
by_year = visitor_df.groupby('UnitCode').sum()
by_year

In [ ]:
# Save the updated dataframe as a csv
visitor_df.to_csv("./Resources/state_park_visitor_data.csv", encoding="utf-8", index=False)
visitor_df.head()  #VALIDATED AGAINST PARK WEBSITE DATA

In [ ]:
gas_url = "http://devapi.mygasfeed.com/"
apikey = "rfej9napna"  #Waiting for own API KEY THIS IS GENERIC

#houston 29.7604° N, 95.3698° W
Latitude   = "29.7604"
Longitude  = "-95.3698"
distance   = 30          # Valid values must be less than 50
fuel_type  =  "reg"  # Valid values  reg,mid,pre,diesel

query = f"stations/radius/{Latitude}/{Longitude}/{distance}/{fuel_type}/price/{apikey}.json?"

url = gas_url+query
print(url)   #uncomment to test url by clicking on it 

response = requests.get(url).json()

print(response)
response

In [ ]:
print(f"{eia_key}")

In [ ]:
#http://api.eia.gov/series/?api_key=YOUR_API_KEY_HERE&series_id=TOTAL.MGUCUUS.M
 # WAITING ON A KEY
url= f"http://api.eia.gov/category/?api_key={eia_key}&category_id=711295"
url = f"http://api.eia.gov/series/?api_key={eihttp://api.eia.gov/series/?api_key=95abebd4884337a93dda412e59cda738&series_id=TOTAL.MGUCUUS.Ma_key}&series_id=TOTAL.MGUCUUS.M"
print(url)