# Import dependences

In [83]:
import requests, json 
import numpy as np, pandas as pd 
import os, time 
from census import Census
import us
from NPS_key import Api_key
from Censuskey import census_api_key
import plotly.express as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:
def convert(latlon):
    latlon = (data["data"][0]["latLong"])

    lat,lon = latlon.split(", ")

    l, lat=lat.split(':')
    l, lon=lon.split(':')

    lat = float(lat)
    lon = float(lon)
    return([lat, lon])

# Getting Data from National Park Service (NPS)

In [28]:
# Endpoint:
URL = 'https://irmaservices.nps.gov/v2/rest/unit/?states={*}&format=json'
response = requests.get(URL).json()

### Getting list of park codes.

In [22]:
Parks=[]
for i in range(len(response)):
    park= response[i]['UnitCode']
    Parks.append(park)

#### Use the list of park codes to get latitude, longitude , state code & park full name

In [24]:
# Used the list of park codes to get latitude, longitude , state code & park full name
fd=[]
for park in Parks:
    url = f"https://developer.nps.gov/api/v1/parks?parkCode={park}&api_key={Api_key}"
    try:
        data = requests.get(url).json()
        l_l = convert(data["data"][0]["latLong"])
        state = data["data"][0]['states']
        fd.append([park, data["data"][0]["fullName"], l_l[0], l_l[1], state])
    except:
        print(f"Chech the code...Skipping {park}")

Chech the code...Skipping ADADMIN
Chech the code...Skipping ADCR
Chech the code...Skipping ADNM
Chech the code...Skipping ADNRSS
Chech the code...Skipping ADPIEVOR
Chech the code...Skipping ADPPFL
Chech the code...Skipping ADPSWD
Chech the code...Skipping ADVRP
Chech the code...Skipping AIVC
Chech the code...Skipping AKEPMT
Chech the code...Skipping AKLO
Chech the code...Skipping AKR
Chech the code...Skipping AKRO
Chech the code...Skipping AKSO
Chech the code...Skipping ALKA
Chech the code...Skipping ANCH
Chech the code...Skipping ANCM
Chech the code...Skipping ANIG
Chech the code...Skipping ANIP
Chech the code...Skipping ANTC
Chech the code...Skipping AOC
Chech the code...Skipping APC-DEN
Chech the code...Skipping APC-WASO
Chech the code...Skipping APHN
Chech the code...Skipping APLO
Chech the code...Skipping AQI
Chech the code...Skipping AQSY
Chech the code...Skipping AQVI
Chech the code...Skipping ARCN
Chech the code...Skipping ARD
Chech the code...Skipping ARRM
Chech the code...Skipping BATT
Chech the code...Skipping BCI
Chech the code...Skipping BEAR
Chech the code...Skipping BEFR
Chech the code...Skipping BERI
Chech the code...Skipping BIB
Chech the code...Skipping BIHOEPMT
Chech the code...Skipping BOSO
Chech the code...Skipping BRD
Chech the code...Skipping BRMD
Chech the code...Skipping BWMP
Chech the code...Skipping CAEPMT
Chech the code...Skipping CAHE
Chech the code...Skipping CAKN
Chech the code...Skipping CALA
Chech the code...Skipping CALI
Chech the code...Skipping CATC
Chech the code...Skipping CCRP
Chech the code...Skipping CCSO
Chech the code...Skipping CDSPEPMT
Chech the code...Skipping CEHI
Chech the code...Skipping CHDN
Chech the code...Skipping CHPO
Chech the code...Skipping CHRO
Chech the code...Skipping CLI
Chech the code...Skipping CLMO
Chech the code...Skipping CMCO
Chech the code...Skipping COAG
Chech the code...Skipping CODA
Chech the code...Skipping COLP
Chech the code...Skipping COSW
Chech the code...Skipping CPC
Chech the code...Skipping CPEPMT
Chech the code...Skipping CRCO
Chech the code...Skipping CRGIS
Chech the code...Skipping CRMG
Chech the code...Skipping CRMP
Chech the code...Skipping CRSS
Chech the code...Skipping CUEC
Chech the code...Skipping CUPN
Chech the code...Skipping DELA
Chech the code...Skipping DENG
Chech the code...Skipping DENP
Chech the code...Skipping DNIB
Chech the code...Skipping DSC
Chech the code...Skipping DWEI
Chech the code...Skipping EAPO
Chech the code...Skipping ELCA
Chech the code...Skipping ELTE
Chech the code...Skipping EMB
Chech the code...Skipping EPCB
Chech the code...Skipping EQD
Chech the code...Skipping ERMN
Chech the code...Skipping ERPB
Chech the code...Skipping FABS
Chech the code...Skipping FAMA
Chech the code...Skipping FAPP
Chech the code...Skipping FARC
Chech the code...Skipping FARM
Chech the code...Skipping FCAL
Chech the code...Skipping FCAR
Chech the code...Skipping FDES
Chech the code...Skipping FDNC
Chech the code...Skipping FDRM
Chech the code...Skipping FETP
Chech the code...Skipping FGBA
Chech the code...Skipping FGCP
Chech the code...Skipping FGNO
Chech the code...Skipping FGPL
Chech the code...Skipping FGUP
Chech the code...Skipping FIEC
Chech the code...Skipping FIRE
Chech the code...Skipping FIVC
Chech the code...Skipping FLCEPMT
Chech the code...Skipping FMPL
Chech the code...Skipping FNAT
Chech the code...Skipping FNIF
Chech the code...Skipping FNPA
Chech the code...Skipping FOCA
Chech the code...Skipping FOCI
Chech the code...Skipping FOCL
Chech the code...Skipping FODC
Chech the code...Skipping FOMO
Chech the code...Skipping FPFL
Chech the code...Skipping FPIS
Chech the code...Skipping FPPP
Chech the code...Skipping FRED
Chech the code...Skipping FRSC
Chech the code...Skipping FSAT
Chech the code...Skipping FSRO
Chech the code...Skipping FUMW
Chech the code...Skipping FWAK
Chech the code...Skipping GAAG
Chech the code...Skipping GAAP
Chech the code...Skipping GCEPMT
Chech the code...Skipping GEMM
Chech the code...Skipping GETC
Chech the code...Skipping GISD
Chech the code...Skipping GLBG
Chech the code...Skipping GLBP
Chech the code...Skipping GLEPMT
Chech the code...Skipping GLKN
Chech the code...Skipping GLOR
Chech the code...Skipping GRD
Chech the code...Skipping GRDG
Chech the code...Skipping GRDP
Chech the code...Skipping GRI
Chech the code...Skipping GRON
Chech the code...Skipping GRYN
Chech the code...Skipping GSRB
Chech the code...Skipping GULN
Chech the code...Skipping HDB
Chech the code...Skipping HFC
Chech the code...Skipping HFJC
Chech the code...Skipping HICA
Chech the code...Skipping HIST
Chech the code...Skipping HOAL
Chech the code...Skipping HPF
Chech the code...Skipping HPTC
Chech the code...Skipping HTLN
Chech the code...Skipping HTLNEPMT
Chech the code...Skipping IATR
Chech the code...Skipping ICAG
Chech the code...Skipping ILMI
Chech the code...Skipping IMCRC
Chech the code...Skipping IMD
Chech the code...Skipping IMDE
Chech the code...Skipping IMDP
Chech the code...Skipping IMR
Chech the code...Skipping IMRO
Chech the code...Skipping IMSF
Chech the code...Skipping INPE
Chech the code...Skipping ITC
Chech the code...Skipping JEFM
Chech the code...Skipping JEME
Chech the code...Skipping JODR
Chech the code...Skipping JOER
Chech the code...Skipping JOFK
Chech the code...Skipping JUBA
Chech the code...Skipping KATG
Chech the code...Skipping KATP
Chech the code...Skipping KENI
Chech the code...Skipping KEPA
Chech the code...Skipping KICA
Chech the code...Skipping KLMN
Chech the code...Skipping KWVM
Chech the code...Skipping LACG
Chech the code...Skipping LACH
Chech the code...Skipping LACP
Chech the code...Skipping LAFO
Chech the code...Skipping LAKA
Chech the code...Skipping LAKEEPMT
Chech the code...Skipping LAME
Chech the code...Skipping LAMEEPMT
Chech the code...Skipping LAMP
Chech the code...Skipping LANDS
Chech the code...Skipping LBME
Chech the code...Skipping LIME
Chech the code...Skipping LODI
Chech the code...Skipping LODT
Chech the code...Skipping LOSA
Chech the code...Skipping LRAB
Chech the code...Skipping MAAL
Chech the code...Skipping MABE
Chech the code...Skipping MAEPMT
Chech the code...Skipping MAHE
Chech the code...Skipping MALL
Chech the code...Skipping MALW
Chech the code...Skipping MASI
Chech the code...Skipping MAUR
Chech the code...Skipping MCHO
Chech the code...Skipping MCR
Chech the code...Skipping MEAF
Chech the code...Skipping MEDN
Chech the code...Skipping MEHI
Chech the code...Skipping MICU
Chech the code...Skipping MIDN
Chech the code...Skipping MOJN
Chech the code...Skipping MOPI
Chech the code...Skipping MRCC
Chech the code...Skipping MTSO
Chech the code...Skipping MWAC
Chech the code...Skipping MWR
Chech the code...Skipping MWRO
Chech the code...Skipping MWSO
Chech the code...Skipping NACA
Chech the code...Skipping NACC
Chech the code...Skipping NACP
Chech the code...Skipping NACRC
Chech the code...Skipping NAGPRA
Chech the code...Skipping NAVY
Chech the code...Skipping NCBN
Chech the code...Skipping NCCN
Chech the code...Skipping NCCNEPMT
Chech the code...Skipping NCCO
Chech the code...Skipping NCCRSPP
Chech the code...Skipping NCPN
Chech the code...Skipping NCPT
Chech the code...Skipping NCR
Chech the code...Skipping NCREPMT
Chech the code...Skipping NCRN
Chech the code...Skipping NCRO
Chech the code...Skipping NCSO
Chech the code...Skipping NECRC
Chech the code...Skipping NEEPMT
Chech the code...Skipping NEJE
Chech the code...Skipping NELO
Chech the code...Skipping NEPEEPMT
Chech the code...Skipping NER
Chech the code...Skipping NERO
Chech the code...Skipping NETN
Chech the code...Skipping NGPEPMT
Chech the code...Skipping NGPN
Chech the code...Skipping NIFC
Chech the code...Skipping NIMI
Chech the code...Skipping NLEM
Chech the code...Skipping NMSC
Chech the code...Skipping NNL
Chech the code...Skipping NOCO
Chech the code...Skipping NPS
Chech the code...Skipping NPS-DIR
Chech the code...Skipping NPS-EEO
Chech the code...Skipping NPS-EOP
Chech the code...Skipping NPS-OAIL
Chech the code...Skipping NPS-OEA
Chech the code...Skipping NPS-OIA
Chech the code...Skipping NPS-OLCA
Chech the code...Skipping NPS-OPAT
Chech the code...Skipping NPS-OSP
Chech the code...Skipping NRID
Chech the code...Skipping NRIM

Chech the code...Skipping NRLO
Chech the code...Skipping NRMEPMT
Chech the code...Skipping NRPC-DEN
Chech the code...Skipping NRPC-FC
Chech the code...Skipping NRSS
Chech the code...Skipping NSNN
Chech the code...Skipping NSNS
Chech the code...Skipping NSNSD
Chech the code...Skipping NTIR
Chech the code...Skipping NTSF
Chech the code...Skipping NTSL
Chech the code...Skipping NWAK
Chech the code...Skipping OBF
Chech the code...Skipping OBRI
Chech the code...Skipping OCJO
Chech the code...Skipping OCRB
Chech the code...Skipping OEO
Chech the code...Skipping OFIE
Chech the code...Skipping OIME
Chech the code...Skipping OLSP
Chech the code...Skipping OLST
Chech the code...Skipping OMLA
Chech the code...Skipping ONRIS
Chech the code...Skipping OOPS
Chech the code...Skipping OPOT
Chech the code...Skipping ORCG
Chech the code...Skipping ORCP
Chech the code...Skipping OREG
Chech the code...Skipping OXCO
Chech the code...Skipping OXON
Chech the code...Skipping OXRU
Chech the code...Skipping PACN
Chech the code...Skipping PERL
Chech the code...Skipping PGSO
Chech the code...Skipping PHSO
Chech the code...Skipping PIEPMT
Chech the code...Skipping PIHALAEPMT
Chech the code...Skipping PIHAVOEPMT
Chech the code...Skipping PIMI
Chech the code...Skipping PISO
Chech the code...Skipping PLIN
Chech the code...Skipping POEX
Chech the code...Skipping POGR
Chech the code...Skipping PPPR
Chech the code...Skipping PRES
Chech the code...Skipping PRPA
Chech the code...Skipping PWR
Chech the code...Skipping PWRO
Chech the code...Skipping QUSH
Chech the code...Skipping RAB
Chech the code...Skipping ROLA
Chech the code...Skipping ROMN
Chech the code...Skipping ROSI
Chech the code...Skipping ROVA
Chech the code...Skipping RRBH
Chech the code...Skipping RTCA
Chech the code...Skipping SAFE
Chech the code...Skipping SCPN
Chech the code...Skipping SCRC
Chech the code...Skipping SEAC
Chech the code...Skipping SEAN
Chech the code...Skipping SEBE
Chech the code...Skipping SECEPMT
Chech the code...Skipping SECN
Chech the code...Skipping SEEPMT
Chech the code...Skipping SELO
Chech the code...Skipping SEQU
Chech the code...Skipping SER
Chech the code...Skipping SERO
Chech the code...Skipping SESO
Chech the code...Skipping SFAN
Chech the code...Skipping SFCN
Chech the code...Skipping SHIC
Chech the code...Skipping SHNC
Chech the code...Skipping SIEN
Chech the code...Skipping SLI
Chech the code...Skipping SOAR
Chech the code...Skipping SOD
Chech the code...Skipping SODN
Chech the code...Skipping SOPN
Chech the code...Skipping SPCO
Chech the code...Skipping SRI
Chech the code...Skipping SRNC
Chech the code...Skipping SSB
Chech the code...Skipping STMA
Chech the code...Skipping STRC
Chech the code...Skipping SUAS
Chech the code...Skipping SUIT
Chech the code...Skipping SUPA
Chech the code...Skipping SWAN
Chech the code...Skipping SWEPMT
Chech the code...Skipping TRTE
Chech the code...Skipping UCBN
Chech the code...Skipping UNST
Chech the code...Skipping USAR
Chech the code...Skipping USNM
Chech the code...Skipping USPP
Chech the code...Skipping VICC
Chech the code...Skipping VINC
Chech the code...Skipping VIWO
Chech the code...Skipping VMI
Chech the code...Skipping VVME
Chech the code...Skipping WACC
Chech the code...Skipping WAHA
Chech the code...Skipping WALA
Chech the code...Skipping WARI
Chech the code...Skipping WARO
Chech the code...Skipping WASH
Chech the code...Skipping WASP
Chech the code...Skipping WATC
Chech the code...Skipping WBI
Chech the code...Skipping WCB
Chech the code...Skipping WEAR
Chech the code...Skipping WEPO
Chech the code...Skipping WHB
Chech the code...Skipping WHVC
Chech the code...Skipping WIBR
Chech the code...Skipping WQI
Chech the code...Skipping WRD
Chech the code...Skipping WRSG
Chech the code...Skipping WRSP
Chech the code...Skipping WSD
Chech the code...Skipping YONB
Chech the code...Skipping ZUCI

In [26]:
park_df= pd.DataFrame(fd, columns=['ParkCode', 'Full Name', 'Lat', 'Lon', 'State'])
park_df

,ParkCode,Full Name,Lat,Lon,State
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
1,ACAD,Acadia National Park,44.307775,-68.300633,ME
2,ADAM,Adams National Historical Park,42.255396,-71.011604,MA
3,AFAM,African American Civil War Memorial,38.916554,-77.025977,DC
4,AFBG,African Burial Ground National Monument,40.714527,-74.004474,NY
...,...,...,...,...,...
440,YORK,Yorktown Battlefield Part of Colonial National...,37.386232,-76.299007,VA
441,YOSE,Yosemite National Park,37.848833,-119.557187,CA
442,YUCH,Yukon - Charley Rivers National Preserve,65.093561,-142.796002,AK
443,YUHO,Yucca House National Monument,37.247789,-108.686127,CO
444,ZION,Zion National Park,37.298393,-113.026514,UT

In [143]:
#Data for DE state was missing. Added from CSV.
# DE= pd.read_csv("DELWARE.csv") 
# de= DE
PF= park_df
de1['Full Name']= 'First State National Historical Park'
de1['Lat']= 39.830769
de1['Lon']= -75.563539
de1['State']= 'DE'
de1= de1[['ParkCode', 'Full Name', 'Lat', 'Lon', 'State']]
# Concatenate DElaware state info to park_df
park_DF= park_df.append(de1, ignore_index=True)
park_DF

,ParkCode,Full Name,Lat,Lon,State
0,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
1,ACAD,Acadia National Park,44.307775,-68.300633,ME
2,ADAM,Adams National Historical Park,42.255396,-71.011604,MA
3,AFAM,African American Civil War Memorial,38.916554,-77.025977,DC
4,AFBG,African Burial Ground National Monument,40.714527,-74.004474,NY
...,...,...,...,...,...
441,YOSE,Yosemite National Park,37.848833,-119.557187,CA
442,YUCH,Yukon - Charley Rivers National Preserve,65.093561,-142.796002,AK
443,YUHO,Yucca House National Monument,37.247789,-108.686127,CO
444,ZION,Zion National Park,37.298393,-113.026514,UT
445,frst,First State National Historical Park,39.830769,-75.563539,DE

In [149]:
# Visitors Data
vis_Data= []
startmonth= 1
startyear= 2019
endmonth= 12
endyear= 2019

for code in park_DF['ParkCode']:
    try:
        URL = f'https://irmaservices.nps.gov/v3/rest/stats/visitation?unitCodes={code}&startMonth={startmonth}&startYear={startyear}&endMonth={endmonth}&endYear={endyear}&format=json'
        res_visit = requests.get(URL).json()
        for month in range(0,len(res_visit)):
            vis_Data.append([code, month, res_visit[month]['RecreationVisitors']])
    except:
        print('Please check the codes above. Skipping....')

In [151]:
columns= ['ParkCode', 'Month', 'Visitors']
Visitors_Data= pd.DataFrame(vis_Data, columns=columns)
s= pd.DataFrame()
mm= {0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10, 10:11, 11:12}
s['Hello'] = Visitors_Data['Month'].map(mm).fillna(Visitors_Data['Month'])
Visitors_Data['Month']= s['Hello']
Visitors_Data

     ParkCode  Month  Visitors
0        ABLI      1      1939
1        ABLI      2      6534
2        ABLI      3     14566
3        ABLI      4     16496
4        ABLI      5     24646
...       ...    ...       ...
4399     ZION      8    535322
4400     ZION      9    497443
4401     ZION     10    429604
4402     ZION     11    230180
4403     ZION     12    171706

[4404 rows x 3 columns]

In [154]:
Total= []
for i in Visitors_Data['Month']:
    R= Visitors_Data.loc[(Visitors_Data['Month']== i) , 'Visitors'].sum(axis=0)
    Total.append(R)
Visitors_Data['Total Visitors']= Total
# del Visitors_Data['Visitors']
Visitors_Data

     ParkCode  Month  Total Visitors
0        ABLI      1        10212361
1        ABLI      2        12927163
2        ABLI      3        20698590
3        ABLI      4        26131016
4        ABLI      5        31066774
...       ...    ...             ...
4399     ZION      8        39287542
4400     ZION      9        31349153
4401     ZION     10        26646960
4402     ZION     11        18794009
4403     ZION     12        15199421

[4404 rows x 3 columns]

# Merging the parks & visitors data.

In [165]:
# Parks data:
# park_DF

# Visitors data:
# Visitors_Data

# Merge the above together:
US_VIS_PAR_Data= Visitors_Data.merge(park_DF, on='ParkCode', how='left')
# Visitors_MW_Data_DF= Visitors_MW_Data_df.rename(columns={'State':'StateCode'})
# Visitors_MW_Data_df.to_csv("./Parks_NW_full_data.csv", encoding="utf-8", index=True)
US_VIS_PAR_Data.to_csv('./Final_US_VIS_PAR_Data', encoding='utf-8', index= True)
US_VIS_PAR_Data

,ParkCode,Month,Total Visitors,Full Name,Lat,Lon,State
0,ABLI,1,10212361,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
1,ABLI,2,12927163,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
2,ABLI,3,20698590,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
3,ABLI,4,26131016,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
4,ABLI,5,31066774,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY
...,...,...,...,...,...,...,...
4399,ZION,8,39287542,Zion National Park,37.298393,-113.026514,UT
4400,ZION,9,31349153,Zion National Park,37.298393,-113.026514,UT
4401,ZION,10,26646960,Zion National Park,37.298393,-113.026514,UT
4402,ZION,11,18794009,Zion National Park,37.298393,-113.026514,UT
4403,ZION,12,15199421,Zion National Park,37.298393,-113.026514,UT

# Census & centroids Data

In [171]:
# Import the saved census data from a csv file.
A= pd.read_csv('.Census_data_whole_US.csv') 
A.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Unemployment Count,State
0,Puerto Rico,19775.0,3468963.0,40.1,12081.0,1543220.0,220597.0,72
1,Alabama,46472.0,4850771.0,38.7,25746.0,849699.0,165391.0,1
2,Alaska,76114.0,738565.0,33.9,35065.0,73380.0,29548.0,2
3,Arizona,53510.0,6809946.0,37.2,27964.0,1128046.0,225911.0,4
4,Arkansas,43813.0,2977944.0,37.9,24426.0,524211.0,85128.0,5

In [174]:
# To get the needed data from census data, we need to create a new dataframe and copy the needed data from 
# the census data to it.
cens_data_cus= pd.DataFrame()
cens_data_cus= A[['Name', 'Population']].copy()
cens_data_cus.head()

          Name  Population
0  Puerto Rico   3468963.0
1      Alabama   4850771.0
2       Alaska    738565.0
3      Arizona   6809946.0
4     Arkansas   2977944.0

In [179]:
# Import the centroids data from saved csv file.
B= pd.read_csv("./state_centroids.csv")
B= B.rename(columns={'State': 'Name'})
B.head()

         Name  Latitude  Longitude
0     Alabama   32.7794   -86.8287
1      Alaska   64.0685  -152.2782
2     Arizona   34.2744  -111.6602
3    Arkansas   34.8938   -92.4426
4  California   37.1841  -119.4696

In [181]:
# Merge the customized census data with centroids data.
cens_centr_data = pd.merge(B, cens_data_cus, how="left", on="Name")
cens_centr_data.head()

         Name  Latitude  Longitude  Population
0     Alabama   32.7794   -86.8287   4850771.0
1      Alaska   64.0685  -152.2782    738565.0
2     Arizona   34.2744  -111.6602   6809946.0
3    Arkansas   34.8938   -92.4426   2977944.0
4  California   37.1841  -119.4696  38982847.0

In [182]:
# State Abbrev.
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [184]:
# Create new column in cens_centr_data and map the state abbrev. to it.
cens_centr_data['State'] = cens_centr_data['Name'].map(us_state_abbrev).fillna(cens_centr_data['Name'])

#Save the edited dataframe to a csv file;
cens_centr_data.to_csv('./Final_census_centroids_data', encoding='utf-8', index= True)
cens_centr_data.head()

         Name  Latitude  Longitude  Population State
0     Alabama   32.7794   -86.8287   4850771.0    AL
1      Alaska   64.0685  -152.2782    738565.0    AK
2     Arizona   34.2744  -111.6602   6809946.0    AZ
3    Arkansas   34.8938   -92.4426   2977944.0    AR
4  California   37.1841  -119.4696  38982847.0    CA

##  Merge US_VIS_PAR_Data with cens_cent_data

In [303]:
Draft_Final_Data= US_VIS_PAR_Data.merge(cens_centr_data, on='State', how='left')
Draft_Final_Data1= Draft_Final_Data[['Month', 'ParkCode', 'Full Name', 'Lat', 'Lon', 
                                                    'State', 'Name', 'Latitude', 'Longitude', 'Total Visitors',
                                                    'Population']].copy()
Final_Data= Draft_Final_Data1.rename(columns= {'State': 'State Code'})
# Save the final data to a csv file.
Final_Data= Final_Data.dropna(axis = 0, how ='any')
Final_Data.to_csv(".Final_data.csv", encoding="utf-8", index=False)
Final_Data.head()

,Month,ParkCode,Full Name,Lat,Lon,State Code,Name,Latitude,Longitude,Total Visitors,Population
0,1,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,10212361,4424376.0
1,2,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,12927163,4424376.0
2,3,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,20698590,4424376.0
3,4,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,26131016,4424376.0
4,5,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,31066774,4424376.0

In [ ]:
# The seasons time in USA is as follow:
# Winter: Dec - March
# Spring: March - June
# Summer: June - Sep
# Fall: Sep - Dec

In [240]:
# Winter Season: Dec - March
Winter= Final_Data[(Final_Data['Month']==12) | (Final_Data['Month']==1) | (Final_Data['Month']==2)]
Winter.sort_values('Month')
# Winter.head()

,Month,ParkCode,Full Name,Lat,Lon,State Code,Name,Latitude,Longitude,Total Visitors,Population
0,1,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,10212361,4424376.0
1320,1,FOBU,Fossil Butte National Monument,41.856352,-110.762475,WY,Wyoming,42.9957,-107.5512,10212361,583200.0
3048,1,NOAT,Noatak National Preserve,68.010271,-159.831694,AK,Alaska,64.0685,-152.2782,10212361,738565.0
1308,1,FOBO,Fort Bowie National Historic Site,32.149259,-109.451132,AZ,Arizona,34.2744,-111.6602,10212361,6809946.0
3060,1,NOCA,North Cascades National Park,48.711718,-121.206942,WA,Washington,47.3826,-120.4472,10212361,7169967.0
...,...,...,...,...,...,...,...,...,...,...,...
3059,12,NOAT,Noatak National Preserve,68.010271,-159.831694,AK,Alaska,64.0685,-152.2782,15199421,738565.0
1307,12,FLNI,Flight 93 National Memorial,40.060615,-78.894569,PA,Pennsylvania,40.8781,-77.7996,15199421,12790505.0
3047,12,NISI,Ninety Six National Historic Site,34.142736,-82.016361,SC,South Carolina,33.9169,-80.8964,15199421,4893444.0
1259,12,FEHA,Federal Hall National Memorial,40.707312,-74.010256,NY,New York,42.9538,-75.5268,15199421,19798228.0
4403,12,ZION,Zion National Park,37.298393,-113.026514,UT,Utah,39.3055,-111.6703,15199421,2993941.0

In [225]:
# Spring Season: Mar - June
Spring= Final_Data[(Final_Data['Month']==3) | (Final_Data['Month']==4) | (Final_Data['Month']==5) ]
Spring.head()

,Month,ParkCode,Full Name,Lat,Lon,State Code,Name,Latitude,Longitude,Total Visitors,Population
2,3,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,20698590,4424376.0
3,4,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,26131016,4424376.0
4,5,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,31066774,4424376.0
14,3,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,20698590,1330158.0
15,4,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,26131016,1330158.0

In [298]:
# fig = px.scatter(Spring, x="Population", y="Total Visitors", hover_data=["State Code"], size="Month" )
# fig.update_layout(title='Population vs. Total Visitor')

In [224]:
# Summer Season: June - Sep
Summer= Final_Data[(Final_Data['Month']==6) | (Final_Data['Month']==7) | (Final_Data['Month']==8) ]
Summer.head()

,Month,ParkCode,Full Name,Lat,Lon,State Code,Name,Latitude,Longitude,Total Visitors,Population
5,6,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,40206974,4424376.0
6,7,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,43357526,4424376.0
7,8,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,39287542,4424376.0
17,6,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,40206974,1330158.0
18,7,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,43357526,1330158.0

In [297]:
# fig = px.scatter(Summer, x="Population", y="Total Visitors", hover_data=["State Code"], size="Month" )
# fig.update_layout(title='Population vs. Total Visitor')
# # fig.show()

In [223]:
# Fall Season: Sep - Dec
Fall= Final_Data[(Final_Data['Month']==9) | (Final_Data['Month']==10) | (Final_Data['Month']==11) ]
Fall.head()

,Month,ParkCode,Full Name,Lat,Lon,State Code,Name,Latitude,Longitude,Total Visitors,Population
8,9,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,31349153,4424376.0
9,10,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,26646960,4424376.0
10,11,ABLI,Abraham Lincoln Birthplace National Historical...,37.585866,-85.673305,KY,Kentucky,37.5347,-85.3021,18794009,4424376.0
20,9,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,31349153,1330158.0
21,10,ACAD,Acadia National Park,44.307775,-68.300633,ME,Maine,45.3695,-69.2428,26646960,1330158.0

In [296]:
# # import plotly.express as px
# fig = px.scatter(Fall, x="Population", y="Total Visitors", hover_data=["State Code"], size="Month" )
# fig.update_layout(title='Population vs. Total Visitor')
# # fig.show()

In [284]:
# b=Final_Data.groupby(['State Code','Population'], as_index=False)[['Total Visitors']][['Month']]
# # b.head()

In [295]:
# fig = px.bar(Final_Data, x="Month", y="Total Visitors", hover_data=["State Code", "Population"], color= 'Population', title='US')
# fig.show()

In [ ]:
# PLOT VISITOR DATA
df = by_year[['Park', 'Visitors', 'Lat', 'Lon', 'Population']]
df = df.rename(columns={'Park':"name", 'Population':'pop', 'Lat':'lat', 'Lon':'lon'})
df['Percentage Visitors'] = (df['Visitors']/df['pop'])*100

df['text'] = df['name'] + '<br>National Park visitors ' + (round(df['Percentage Visitors']).astype(str))+' %'
df.head()

colors = ["royalblue","crimson","lightseagreen","orange","lightgrey"]
cities = []

fig = go.Figure()
   
fig = go.Figure(data=go.Scattergeo(
        lon = df['lon'],
        lat = df['lat'],
        text = df['text'],
        mode = 'markers',
        marker_color = df['pop'],
        marker = dict(
            size = df['Percentage Visitors'],
            #color = df['pop'],
            color = colors[3],
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'),
           name = '{}'.format(df['name'])))
  
    
fig.update_layout(
        title_text = 'Percentage of State Population that are National Park Visitors ',
        #showlegend = True,
        geo = dict(
            scope = 'usa',
            landcolor = 'rgb(217, 217, 217)',
        )
    )

fig.show()